*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden; }

ul {
  list-style: none;
  padding-left: 1rem !important; }

li > a {
  text-decoration: none; }

.section-headings {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #1C1E31; }

.u-center-text {
  text-align: center; }

.drop__shadow {
  position: absolute;
  background-image: url(../../images/Rectangle719.png);
  z-index: 111;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0; }

.nav-text {
  position: relative;
  color: #FF3D00;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  transition: ease .5s; }

.nav-text:hover {
  color: #FF3D00; }

.nav-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2%;
  height: 10px;
  width: 70%;
  border-bottom: 3px solid #FF3D00; }

.nav-text {
  color: #FF3D00; }

.nav_active {
  color: #FF3D00;
  border-bottom: solid 3px #FF3D00; }

.main-button {
  width: 150px;
  height: 56px;
  left: 171px;
  top: 452px;
  outline: none;
  background: #FF3D00;
  border-radius: 12px;
  border: none;
  transition: ease-in .2s;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff; }

.main-button:hover {
  background-color: #E33F0B; }

.heading__nav-language {
  transition: ease-in .2s; }
  .heading__nav-language > a {
    color: #fff; }
  .heading__nav-language > a:hover {
    color: #FF3D00;
    transition: ease .5s; }
  .heading__nav-language--main {
    position: relative;
    transition: ease-in-out 1s;
    cursor: pointer; }
  .heading__nav-language--child {
    display: none; }
  .heading__nav-language--active:hover .heading__nav-language--child {
    display: block; }
  .heading__nav-language--child {
    padding: 5px 8px;
    position: absolute;
    top: 80%;
    padding-left: 0px;
    transition: ease .2s; }

.heading__slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/image_2.png);
  background-size: cover;
  background-position: left; }
  .heading__slider-text {
    position: absolute;
    top: 35%;
    left: 20%;
    color: #fff;
    z-index: 333; }
  .heading__slider-heading {
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
    z-index: 111;
    width: 100%;
    display: inline-block; }
  .heading__slider-heading--back::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 55%;
    height: 19%;
    background-color: #FF3D00;
    z-index: -1; }
  .heading__slider-info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8); }

.header-carousel {
  position: relative; }

.header-carousel .owl-dots {
  position: absolute;
  right: 50%;
  bottom: 3%;
  transform: translate(50%, 50%); }

.header-carousel .owl-dots span {
  background-color: #a19a9ac5 !important; }

.header-carousel .owl-dots .active span {
  background-color: #fff !important; }

.heading {
  position: relative; }

.heading__nav {
  background-color: transparent;
  padding: 30px 0;
  position: absolute;
  z-index: 222;
  top: 0;
  left: 0;
  right: 0; }
  .heading__nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .heading__nav-list {
    display: flex; }
  .heading__nav-item {
    padding: 15px; }
  .heading__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    transition: ease .5s; }
  .heading__nav-link:hover {
    color: #FF3D00;
    transition: ease .5s; }
  .heading__nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #FF3D00;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .heading__nav-link:hover:after {
    transform: scaleX(0.7); }
  .heading__nav-link:after {
    transform-origin: 0% 50%; }
  .heading__nav-searching {
    display: flex;
    gap: 20px; }
  .heading__nav-search {
    margin-bottom: 15px; }
    .heading__nav-search a > i {
      color: #fff; }

.info {
  display: flex; }
  .info__text {
    padding: 0px 80px; }
  .info__text > p {
    text-indent: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #64748B; }
  .info__text-heading {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #1C1E31; }
  .info__text-heading:before {
    content: "";
    position: absolute;
    top: -15%;
    left: 2px;
    width: 40px;
    height: 6px;
    background-color: #FF3D00; }

.activity {
  margin: 80px 0; }
  .activity__box {
    min-height: 314px;
    position: relative;
    background: url(../../images/activityimg1.png); }
  .activity__box--1 {
    background: url(../../images/activityimg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .activity__box--2 {
    background-image: url(../../images/activityimg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .activity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
    background: url(../../images/Rectangleoverlay.png); }
  .activity__info {
    display: flex;
    flex-direction: column;
    padding: 5px 40px; }
  .activity__logo {
    z-index: 333; }
  .activity__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    z-index: 333;
    margin-top: 5px; }
  .activity__text {
    font-size: 13px;
    line-height: 20px;
    color: #b9b5b5;
    z-index: 333; }

#info {
  background-color: #FBFBFB;
  padding: 80px 0 40px 0; }

#partner {
  background-color: #FBFBFB;
  padding: 40px 0; }

.heading {
  width: 100%;
  height: 100vh; }
