*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

li > a {
  text-decoration: none; }

.u-center-text {
  text-align: center; }

.heading__nav-language > a {
  color: #fff; }

.heading__nav-language > a:hover {
  color: #FF3D00;
  transition: ease .5s; }

.heading__nav-language--main {
  position: relative;
  transition: ease-in-out .5s; }

.heading__nav-language--main:hover .heading__nav-language--child {
  display: block; }

.heading__nav-language--child {
  background: red;
  padding: 5px 8px;
  position: absolute;
  top: 80%;
  padding-left: 0px;
  transition: ease .2s; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.heading__nav {
  background-color: black;
  padding: 30px 0; }
  .heading__nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .heading__nav-list {
    display: flex; }
  .heading__nav-item {
    padding: 15px; }
  .heading__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    transition: ease .5s; }
  .heading__nav-link:hover {
    color: #FF3D00;
    transition: ease .5s; }
  .heading__nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #FF3D00;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .heading__nav-link:hover:after {
    transform: scaleX(0.7); }
  .heading__nav-link:after {
    transform-origin: 0% 50%; }
  .heading__nav-searching {
    display: flex;
    gap: 20px; }
  .heading__nav-search {
    margin-bottom: 15px; }
    .heading__nav-search a > i {
      color: #fff; }

.heading {
  width: 100%;
  height: 80vh;
  background-image: url("i"); }
