$color-white: #fff;
$color-page-background:#FBFBFB;
$color-text-light:#FFFFFF;

$color-primary: #FF3D00;
$color-primary-dark: #E33F0B;


$color-secondary-dark: #1C1E31;


$color-text: #64748B;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// //font-sizes
// $default-font-size: 1.6rem;

// //

// $color-secondary-light:#fbb900;
// $color-secondary-dark:#ff7730;

// $color-tertiary-light:#2998ff;
// $color-tertiary-dark:#5643fa;


// //
// //
// $color-grey-light-1: #f7f7f7f7;
// $color-grey-light-2: #eee;
// $color-grey-light-3: #999;
// $color-grey-light-4: #333;

// //
// $color-grey-dark: #777;
// $color-white: #fff;
// $color-black: #000;
// $color-grey-light: #eee;
// $border-data: 5px dashed red;


// $colors: (main:red,secondary:grey);

