.heading__nav-language{

  transition: ease-in .2s;

   
    &>a{
        color: $color-white;
    }

    &>a:hover{
        color: $color-primary;
        transition: ease .5s;
    }


    &--main{
      position: relative;
      transition: ease-in-out 1s;
      cursor: pointer;
    }


    &--child{
      display: none;
    }

    &--active:hover .heading__nav-language--child{
        display: block;
    }


    &--child{
      // background: red;
      padding: 5px 8px;
      position: absolute;
      top: 80%;
      
    //   left: 0;
      padding-left: 0px;
    //   display: none;
      
    transition: ease .2s;
    }

    .selected_country{
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      cursor: pointer;


      &>option{
        color: $color-primary;
        cursor: pointer;
      }
    }



    @include tab-port(991px){
      display: none;
    }



}





