.main-button {
    width: 150px;
    height: 56px;
    left: 171px;
    top: 452px;
    outline: none;
    background: $color-primary;
    border-radius: 12px;
    border: none;
    transition: ease-in .2s;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    // padding: 15px 40px;
    /* identical to box height */


    color: #FFFFFF;

    letter-spacing: 1px;
    text-decoration: none;
    color: $color-white;


    @include tab-port(991px) {
        width: 110px;
        height: 44px;
        font-weight: 500;
        font-size: 15px;
    }
}


.main-button:hover {
    background-color: $color-primary-dark;
}


// .main-button>a:hover{
//     color: $color-white;
// }





.blog__link {

    display: inline-block;
    margin-top: 15px;

    &>a {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-decoration: none;
        color: $color-primary;

        @include tab-port(991px) {
            font-size: 15px;
        }


    }

    &>a:hover {
        color: $color-primary-dark;
    }

    .blog__link-arrow {
        display: inline-block;
        transition: 0.1s ease-in;
    }

    &>a:hover .blog__link-arrow {
        transform: translateX(50%);
    }

}


.blog__link-partner {
    @include mobile(600px) {
        position: absolute;
        bottom: -26%;
        left: 50%;
        /* right: 50%; */
        transform: translateX(-50%);
    }
}


.blog__link-news {

    @include mobile(600px) {
        position: absolute;
        bottom: -6%;
        left: 50%;
        transform: translateX(-50%);

    }

}







////