*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    overflow-x: hidden;
}

html{
    font-size: 16px;


    // @include respond(phone){
    //     font-size: 10px;
    // }


}


body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
}


ul{
    list-style: none;
    padding-left: 1rem !important;
}

li>a{
    text-decoration: none;
    // color: $color-white;
}

a{
    text-decoration: none;
    text-decoration: none !important;
}

// p{
//    color: map-get($colors ,main);
//    @extend .data;
// }

// b{
//     color: map-get($colors, secondary);
//     @extend .data;
// }

// div{
//     // background-color: aqua;
//    @include newDatas();

//     @include minWidth(991px){
//         font-size: 15px;
//     }
   
// }



