/*
0-600px  - Mobile
600-900px - Table
600-900px - Table Portrait
900-1200px - Tablet Landscape

[1200 - 1800] - Normal style
1800px+ -Big Desktop




*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden; }

ul {
  list-style: none;
  padding-left: 1rem !important; }

li > a {
  text-decoration: none; }

a {
  text-decoration: none;
  text-decoration: none !important; }

.section-headings {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #1C1E31; }

.blog__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #696871; }

.blog__time {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #C4C4C4; }

.u-center-text {
  text-align: center; }

.drop__shadow {
  position: absolute;
  background-image: url(../../images/Rectangle719.png);
  z-index: 111;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0; }

.nav-text {
  position: relative;
  color: #FF3D00;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  transition: ease .5s; }

.nav-text:hover {
  color: #FF3D00; }

.nav-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2%;
  height: 10px;
  width: 70%;
  border-bottom: 3px solid #FF3D00; }

.nav-text {
  color: #FF3D00; }

.nav_active {
  color: #FF3D00;
  border-bottom: solid 3px #FF3D00; }

.heading__nav-item {
  position: relative;
  transition: ease-in .2s; }

.heading__nav-item {
  position: relative;
  transition: ease-in .2s; }

.drop__box-content {
  position: absolute;
  padding-left: 0px !important;
  width: 220px;
  background: white;
  top: 100%;
  border-radius: 9px;
  padding: 14px !important;
  transition: ease .2s;
  display: none; }

.drop__box-content::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -9px; }

.heading__nav-item:hover .drop__box-content {
  display: block; }

.drop__box-content > li {
  cursor: pointer;
  line-height: 30px; }

.drop__box-content > li a {
  color: #000000;
  font-size: 12px;
  transition: ease .1s; }

.drop__box-content > li a:hover {
  color: #FF3D00; }

.main-button {
  width: 150px;
  height: 56px;
  left: 171px;
  top: 452px;
  outline: none;
  background: #FF3D00;
  border-radius: 12px;
  border: none;
  transition: ease-in .2s;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff; }

.main-button:hover {
  background-color: #E33F0B; }

.blog__link {
  display: inline-block; }
  .blog__link > a {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: #FF3D00; }
  .blog__link > a:hover {
    color: #E33F0B; }
  .blog__link .blog__link-arrow {
    display: inline-block;
    transition: 0.1s ease-in; }
  .blog__link > a:hover .blog__link-arrow {
    transform: translateX(50%); }

.heading__nav-language {
  transition: ease-in .2s; }
  .heading__nav-language > a {
    color: #fff; }
  .heading__nav-language > a:hover {
    color: #FF3D00;
    transition: ease .5s; }
  .heading__nav-language--main {
    position: relative;
    transition: ease-in-out 1s;
    cursor: pointer; }
  .heading__nav-language--child {
    display: none; }
  .heading__nav-language--active:hover .heading__nav-language--child {
    display: block; }
  .heading__nav-language--child {
    padding: 5px 8px;
    position: absolute;
    top: 80%;
    padding-left: 0px;
    transition: ease .2s; }
  .heading__nav-language .selected_country {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer; }
    .heading__nav-language .selected_country > option {
      color: #FF3D00;
      cursor: pointer; }

.heading__slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/image2-min.png);
  background-size: cover;
  background-position: left; }
  .heading__slider-text {
    position: absolute;
    top: 35%;
    left: 20%;
    color: #fff;
    z-index: 333; }
  .heading__slider-heading {
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
    z-index: 111;
    width: 100%;
    display: inline-block; }
  .heading__slider-heading--back::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 55%;
    height: 19%;
    background-color: #FF3D00;
    z-index: -1; }
  .heading__slider-info {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8); }

.header-carousel {
  position: relative; }

.header-carousel .owl-dots {
  position: absolute;
  right: 50%;
  bottom: 3%;
  transform: translate(50%, 50%); }

.header-carousel .owl-dots span {
  background-color: #a19a9ac5 !important; }

.header-carousel .owl-dots .active span {
  background-color: #fff !important; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px; }
  .footer .footer__box--height, .footer .footer__logo, .footer .footer__main, .footer .footer__about, .footer .footer__policy, .footer .footer__contact {
    min-height: 150px; }
  .footer__logo {
    display: flex;
    align-items: flex-start; }
  .footer__list {
    padding-left: 0px !important;
    margin-top: 20px; }
  .footer__items > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999FAE;
    display: inline-block;
    transition: ease-in-out .3s; }
  .footer__items > a:hover {
    color: #FF3D00; }
  .footer__title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000; }
  .footer__items {
    margin: 10px 0; }
  .footer__list-social {
    display: flex;
    gap: 6px; }
  .footer__media {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: ease-in .2s;
    background-color: #14142B; }

.footer__last p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000; }

.footer__upper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 7px; }

.footer__last-par {
  margin-bottom: 0 !important; }

.footer__upper > i {
  color: white; }

.footer__upper > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.heading {
  position: relative; }

.heading__nav {
  background-color: transparent;
  padding: 30px 0;
  position: absolute;
  z-index: 222;
  top: 0;
  left: 0;
  right: 0; }
  .heading__nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .heading__nav-list {
    display: flex; }
  .heading__nav-item {
    padding: 15px; }
  .heading__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    transition: ease .5s; }
  .heading__nav-link:hover {
    color: #FF3D00;
    transition: ease .5s; }
  .heading__nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 3px #FF3D00;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .heading__nav-link:hover:after {
    transform: scaleX(0.7); }
  .heading__nav-link:after {
    transform-origin: 0% 50%; }
  .heading__nav-searching {
    display: flex;
    gap: 20px; }
  .heading__nav-search {
    margin-bottom: 15px;
    transition: ease-in .5s;
    position: relative; }
    .heading__nav-search a > i {
      color: #fff; }
  .heading__nav-search--icon {
    position: absolute;
    top: 14px;
    right: 10px; }
  .heading__nav-search--input {
    outline: none;
    border: none;
    padding: 0px 5px;
    font-size: 15px;
    margin: 8px 0;
    border: 1px solid #ccc; }
  .heading__nav-search--box {
    position: absolute;
    display: none;
    left: -180px;
    bottom: -45px;
    transform: translateY(-100px);
    transition: ease-in-out .6s; }
  .heading__nav .box--opened {
    display: block;
    transform: translateY(0px); }
  .heading__nav .box--closed {
    display: none; }
  .heading__nav .heading__nav-cancel {
    color: #FF3D00; }

.info {
  display: flex; }
  .info__text {
    padding: 0px 80px; }
  .info__text > p {
    text-indent: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #64748B; }
  .info__text-heading {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #1C1E31; }
  .info__text-heading:before {
    content: "";
    position: absolute;
    top: -15%;
    left: 2px;
    width: 40px;
    height: 6px;
    background-color: #FF3D00; }

.activity {
  margin: 80px 0; }
  .activity__box {
    min-height: 314px;
    position: relative;
    background: url(../../images/activityimg1.png); }
  .activity__box--1 {
    background: url(../../images/activityimg2-min.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .activity__box--2 {
    background-image: url(../../images/activityimg1-min.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .activity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
    background: url(../../images/Rectangleoverlay.png); }
  .activity__info {
    display: flex;
    flex-direction: column;
    padding: 5px 40px; }
  .activity__logo {
    z-index: 333; }
  .activity__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    z-index: 333;
    margin-top: 5px; }
  .activity__text {
    font-size: 13px;
    line-height: 20px;
    color: #b9b5b5;
    z-index: 333; }

.partner-carousel__box {
  margin: 0 15px;
  position: relative; }

.owl-carousel .owl-item .partner-carousel__box a > img {
  width: 90% !important; }

#info {
  background-color: #FBFBFB;
  padding: 80px 0 40px 0; }

#partner {
  background-color: #FBFBFB;
  padding: 40px 0; }

.heading {
  width: 100%;
  height: 100vh; }

#blog {
  padding: 40px 0;
  background-color: #fff; }

footer {
  background-color: #FBFBFB;
  padding: 40px 0 10px 0; }
